@import 's2b-base.css';

html {
	height: 100%;
	background-color: #FFF;
}

body {
	min-height: 100%;
	margin-left: 220px;
	border-left: 1px #D0D0D0 solid;
	background-color: #EEE;
	color: #4F5155;
	font-family: 'Lucida Grande', 'Lucida Sans', sans-serif;
	padding-bottom: 2em;
}

h1 {
	margin-bottom: 0;
	font-size: 1.5em;
}

a {
	color: #18afa5;
	cursor: pointer;
}

.hidden {
	display: none;
}

/*
 * Formulare
 */
fieldset {
	background-color: #FFF;
	padding: 1.5em 2em;
	margin: 1.5em 0;
	border: 1px #D0D0D0 solid;
}

legend {
	margin-left: -0.5em;
	padding: 5px 10px;
	background-color: #333;
	color: #FFF;
}

fieldset dl {
	clear: left;
}

fieldset dt, fieldset dd {
	padding: 0.5em 0;
}

fieldset dt {
	width: 35%;
	float: left;
}

fieldset dd {
	margin-left: 35%;
}

input[type=text], input[type=password], input[type=email] {
	width: 100%;
	border: 1px #CCC solid;
	padding: 3px;
}

input[type=submit], input[type=reset] {
	background-image: url(images/btn.png);
	border: medium none;
	color: #FFF;
	height: 30px;
	margin-top: 1em;
	-moz-border-radius:5px 5px 5px 5px;
	-moz-box-shadow:0 0 5px #999999;
}

input.min {
	width: auto;
}

textarea.max {
	width: 100%;
}

fieldset.buttons {
	text-align: center;
	padding: 1em;
}

fieldset.buttons input {
	margin-top: 0;
}

fieldset div.calendar_top {
	margin-top: 0;
}

/*
 * Auflistung
 */
table.listing {
	width: 100%;
}

table.listing th {
	text-align: left;
	background-color: transparent;
	border-bottom: 1px #D0D0D0 solid;
}

table.listing th.center {
	text-align: center;
}

table.listing td {
	background-color: #FFF;
	border: 0 #D0D0D0 solid;
}

table.listing tr.noline td {
	border-width: 0;
}

table.listing td {
	border-bottom-width: 1px;
}

table.listing td.line-l, table.listing tr.noline td.line-l {
	border-left-width: 1px;
}

table.listing td.line-r, table.listing tr.noline td.line-r {
	border-right-width: 1px;
}

table.listing td.line-b, table.listing tr.noline td.line-b {
	border-bottom-width: 1px;
}

table.listing tr.highlight td, td.highlight, table.calendar td.highlight, li.highlight {
	background-color: #FEDF98 !important;
}

ul.listing {
	border: #D0D0D0 solid;
	border-width: 1px 1px 0;
}

ul.listing li {
	margin: 0;
	padding: 0.3em 0.5em;
	list-style-type: none;
	border-bottom: 1px #D0D0D0 solid;
}

ul.listing .listing-checkbox {
	float: left;
	margin-right: 0.5em;
}

ul.listing .listing-content {
	float: left;
}

ul.listing .listing-button {
	float: right;
	display: block;
	margin: 0.5em;
	width: 28px;
	height: 28px;
	background-image: url(images/icons-28.png);
	background-position: -28px 0;
	text-indent: -9999px;
}

ul.listing .listing-button:hover {
	background-position: -28px -28px;
}

ul.listing .listing-button.opened {
	background-position: 0 0;
}

ul.listing .listing-button.opened:hover {
	background-position: 0 -28px;
}

ul.listing ul.listing {
	margin: 1em auto 0.5em;
	width: 90%;
}

/*
 * Auflistung: Buttons
 */
.listing-buttons {
	margin: 0.5em;
}

/*
 * Kalender
 */
div.calendar-top {
	margin-top: 2em;
	padding: 0.7em 0.5em 0;
	background-color: #FFF;
	border: #D0D0D0 solid;
	border-width: 1px 1px 0;
	-webkit-border-top-left-radius: 1em;
	-webkit-border-top-right-radius: 1em;
	-moz-border-radius-topleft: 1em;
	-moz-border-radius-topright: 1em;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

div.calendar-top .prev, div.calendar-top .next {
	float: left;
	width: 30%;
}

div.calendar-top a {
	display: block;
	height: 34px;
	width: 34px;
	background-repeat: no-repeat;
	background-image: url(images/icons-34.png);
}

div.calendar-top .prev a {
	background-position: 0 0;
}

div.calendar-top .prev a:hover {
	background-position: 0 -34px;
}

div.calendar-top .next a {
	background-position: -34px 0;
	float: right;
}

div.calendar-top .next a:hover {
	background-position: -34px -34px;
}

div.calendar-top .month {
	float: left;
	width: 40%;
	margin-bottom: 0;
	text-align: center;
	line-height: 32px;
	vertical-align: middle;
}

div.calendar {
	background-color: #FFF;
	padding: 1em;
	border: #D0D0D0 solid;
	border-width: 0 1px 1px;
}

table.calendar {
	width: 100%;
}

table.calendar th {
	padding-top: 0;
}

table.calendar td {
	border: 1px #D0D0D0 solid;
	padding: 4px 6px;
	width: 14%;
	background-color: #FFF;
}

table.calendar td.today {
	background-color: #BCEEEF;
}

table.calendar td.empty {
	background-color: transparent;
}

table.calendar .booking-box {
	border: 1px #D0D0D0 solid;
	padding: 0.2em 0.4em;
	margin: 0.2em -0.2em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/*
 * Tabs
 */
.tabs {
	padding-top: 2em;
	
}

.tabs .tabbar {
	margin: 0;
}

.tabs .tabcontent {
	padding: 1em;
	background-color: #FFF;
	border: 1px #D0D0D0 solid;
}

.tabs .tab {
	float: left;
	margin: 0;
	padding: 8px 9px 7px;
	font-size: 1.2em;
	margin-bottom: -1px;
}

.tab-selected {
	background-color: #FFF;
	-webkit-border-top-left-radius: 0.5em;
	-webkit-border-top-right-radius: 0.5em;
	-moz-border-radius-topleft: 0.5em;
	-moz-border-radius-topright: 0.5em;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	border: #D0D0D0 solid;
	border-width: 1px 1px 0;
	padding: 7px 8px 7px !important;
}

/*
 * Links
 */
a.add {
	float: left;
	display: block;
	height: 28px;
	line-height: 28px;
}

a.add span {
	display: block;
	height: 28px;
	width: 28px;
	float: left;
	background-repeat: no-repeat;
	background-image: url(images/icons-28.png);
	background-position: -84px 0;
	margin-right: 3px;
}

a.add:hover span {
	background-position: -84px -28px;
}

/*
 * Nachrichten
 */
div.message {
	margin: 2em 0;
	padding: 0.8em;
	background-color: #FFF;
	text-align: center;
}

div.errors, div.error {
	font-size: 85%;
	color: #D60101;
}

div.errors {
	margin-bottom: 1em;
}

div.errors p, div.message p {
	margin-bottom: 0.4em;
}

/*
 * Seitenstruktur
 */
#navigation {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 220px;
}

#navigation #logo {
	background-color: #18afa5;
	padding: 1em 1em 3em;
	border-bottom: 1px #D0D0D0 solid;
}

#navigation #logo, #navigation #logo a {
	color: #FFF;
}

#navigation h2, #navigation li {
	border-bottom: 1px #D0D0D0 solid;
	line-height: 40px;
}

#navigation h2 {
	padding-left: 1em;
	font-size: 1em;
	font-weight: normal;
	margin-bottom: 0;
}

#navigation h2:hover {
	background-color: #EEE
}

#navigation li {
	list-style-type: none;
	margin: 0;
}

#navigation li a {
	display: block;
	padding-left: 3em;
	list-style-type: none;
	background: url(images/main_nav.png) no-repeat -10px 10px;
}

#navigation li a:hover {
	background-color: #EEE;
}

#navigation li.active a {
	background-position: -10px -30px;
	background-color: #333;
	color: #EEE;
}

#content {
	padding: 1em 1.5em 1.5em;
}

#no-js, #no-ie6 {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #FEFFDA;
	padding: 0.5em;
	border-top: 1px #BCBDA3 solid;
	z-index: 1;
}

#no-ie6 {
	z-index: 2;
}

/*
 * Modales Fenster
 */
#black {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: url(images/black.png);
}

#black fieldset {
	border: none;
}

#modal {
	width: 500px;
	margin: 10% auto 10%;
	padding: 1.5em 2em;
	background-color: #FFF;
	overflow: auto;
}

#modal .bar-top, #modal .bar-bottom {
	margin: -1em;
	padding: 1.5em;
	border: 0 #D0D0D0 solid;
	background-color: #000;
	color: #FFF;
}

#modal .bar-top {
	border-bottom-width: 1px;
	margin-bottom: 0.5em;
}

#modal .bar-bottom {
	border-top-width: 1px;
	margin-top: 0.5em;
}